.slides-container {
  //  width: 100%;
  //  height: 100%;
  //  left: 0;
  //  top: 0;
  //  position: absolute;
  img {
    max-height: 100%;
    max-width: 100%;
    @include center;
    pointer-events: all;
    display: none;
    @include screen-size('small') {
      max-height: 100%;
      max-width: 100%;
      z-index: 0;
      pointer-events: none;
    }
  }
  audio,
  iframe {
    @include center;
    position: fixed;
    max-width: 90%;
    z-index: 100000;
    @include screen-size('small') {
      max-height: 200px;
    }
    //    z-index: 100;
  }
  div {
    display: none;
    &.shown {
      position: fixed;
      left: 50%;
      width: 30em;
      margin-left: -15em;
      margin-right: auto;
      top: 160px;
      z-index: 4000;
      @include screen-size('small') {
        width: 90%;
        margin-left: 5%;
        left: 0;
      }
    }
  }
}

.shown {
  display: block !important;
  z-index: 1000;
}

.nav-overlay {
  display: block !important;
  height: 100%;
  top: 0;
  position: absolute;
  width: 50%;
  z-index: 1000;
  background: none;
}

.previous {
  left: 0%;
  cursor: url('img/left.png'), w-resize;
  @include screen-size('small') {
    cursor: pointer;
  }
}

.next {
  left: 50%;
  cursor: url('img/right.png'), e-resize;
  @include screen-size('small') {
    cursor: pointer;
  }
}