.slides-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  img {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;
    display: none;
    @include screen-size('small') {
      max-height: 80%;
      max-width: 100%;
      z-index: 0;
      pointer-events: none;
    }
  }
  div {
    display: none;
    &.shown {
      position: fixed;
      left: 50%;
      width: 90%;
      width: 30em;
      margin-left: -15em;
      margin-right: auto;
      top: 160px;
      z-index: 4000;
    }
  }
}

.shown {
  display: block !important;
}

.nav-overlay {
  height: 100%;
  top: 0;
  position: absolute;
  width: 50%;
  z-index: 900;
  background: none;
}

.previous {
  left: 0%;
  cursor: url('img/left.png'), w-resize;
}

.next {
  left: 50%;
  cursor: url('img/right.png'), e-resize;
}