.menu {
  margin-top: 1px;
  a {
    margin-right: 8px;
    //    @include screen-size('small') {
    //      margin-bottom: $line-height / 4;
    //      margin-right: 0;
    //      display: block;
    //    }
  }
}

.about-menu {
  position: fixed;
  bottom: 140px;
  right: 45px;
  z-index: 10000;
  transform: rotateZ(-90deg);
  transform-origin: right bottom;
}