.menu {
  margin-top: $line-height / 4;
  a {
    margin-right: 30px;
    @include screen-size('small') {
      margin-bottom: $line-height / 4;
      margin-right: 0;
      display: block;
    }
  }
}

.about-menu {
  position: fixed;
  bottom: $margin;
  right: $margin;
  z-index: 10000;
}