header {
  position: fixed;
  z-index: 1000;
  margin-top: 3 * $line-height;
  margin-bottom: $line-height;
  width: 100%;
  text-align: center;
  z-index: 1000000;
  @include screen-size('small') {
    margin-top: $margin / 2;
  }
}

.inner-header {
  display: inline-block;
  margin-bottom: 2 * $line-height;
  width: 100%;
  height: 28px;
}